@import "tailwindcss";

@theme {
  --color-primary-accent: #0eb59a;
}

:root {
  --primary-accent: #0eb59a;
}

body {
  margin: 0;
  background-color: #fafafa;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}